body {
  background-image:url("../images/bg-mobile.svg");
  background-size: contain;
  background-repeat:no-repeat;
  background-color: hsl(257, 40%, 49%);
  margin: auto;
  display:flex;
  justify-content: center;

}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
  max-width:375px;
}

.logo-img {
  width:11rem;
  margin-bottom: 5rem;
}

.illustration-img {
  margin-bottom: 4rem;
  width:100%;
}

.text-container {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
}


.text-container h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: -0.1rem;
}

.text-container p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

.text-container a {
  display: inline;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: white;
  margin-top: 1rem;
  border-radius: 2rem;
  width:16rem;
  height:3rem;
  line-height: 3rem;
  text-decoration: none;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,25%);
}
.text-container a:link, .text-container a:visited {text-decoration: none;}

.text-container a:hover, .text-container a:active {
  background-color: hsl(300, 69%, 71%);
  color: white;
}
.social-media-links {
  display:flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5rem;
}

.social-media-links a:link, .social-media-links a:visited {
  filter:invert(1);
}

.social-media-links a:hover, .social-media-links a:active {
  filter: brightness(0) saturate(100%) invert(81%) sepia(46%) saturate(2756%) hue-rotate(241deg) brightness(95%) contrast(92%);
}

.icon-social {
  width: 24px;
  height: 24px;
  border: 2px solid #000000;
  padding:0.5rem;
  border-radius: 50%;
  margin:0 0.75rem;
}

@media only screen and (min-width:795px) {
  .main-container{max-width: 550px;}
  .logo-img {width:14rem;}
}

@media only screen and (min-width:1100px) {
  html {height: 100%;}

  body{
    background-image:url("../images/bg-desktop1.svg");
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    }

  .main-container{
    display: grid;
    grid-template-columns: 55% auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 4rem;
    max-width: 1440px;
    max-height: 800px;

  }
  .logo-img{

    grid-column-start: 1;
    grid-column-end: 3;
    width: auto;
    height:auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .illustration-img{
    grid-row-start:2;
    grid-row-end:4;
  }

  .text-container{
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 3rem;
  }
  .text-container h1 {
    text-align: left;
    font-size: 2.5em;
  }
  .text-container p {
    text-align: left;
    font-size: 1.10rem;

  }

  .text-container a {
    width: 13rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.15em;
  }


  .social-media-links{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 3rem;
    margin-bottom: 1rem;
  }


  .social-media-links a:hover{
    filter: invert(70%) sepia(81%) saturate(1058%) hue-rotate(242deg) brightness(96%) contrast(88%);
  }


}
